STRING

1. Write a program to reverse a string.

In [ ]:
s="himansu"
s[::-1]
s

'usnamih'

2. Check if a string is a palindrome.

In [ ]:
def tOCheckPalindrome(st):
  temp_st=st[::-1]
  if st==temp_st:
    print("It's a palindrome")

  else:
    print("It is not a palindrome")

In [ ]:
tOCheckPalindrome("aa")

It's a palindrome

3. Convert a string to uppercase

In [ ]:
s="himansu"
s.upper()

'HIMANSU'

4. Convert a string to lowercase.

In [ ]:
s="HIMANSU"
s.lower()

'himansu'

5. Count the number of vowels in a string.

In [ ]:
s="himansu"
vowels="aeiou"
count=0
for char in s:
  if char in vowels:
      count=count+1

In [ ]:
count

3

6. Count the number of consonants in a string

In [ ]:
s="himansu"
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
count=0
for char in s:
  if char in consonants:
      count=count+1

In [ ]:
count

4

7. Remove all whitespaces from a string.

In [ ]:
def removeWhitespaces(st):
  result=""
  for char in st:
    if char!=" ":
      result=result+char
  return result

removeWhitespaces("himansu is  a  developer")

'himansuisadeveloper'

8. Find the length of a string without using the `len()` function.

In [ ]:
def stringCount(st):
  count=0
  for i in st:
    count=count+1
  return count
stringCount("himansu")

7

Check if a string contains a specific word

In [ ]:
def stringSprcific(st,ch):
  for char in st:
    if char==ch:
      return True

stringSprcific("himansu","m")

True

Replace a word in a string with another word.

In [ ]:
def replaceWord(st,ch):
       new_st=st.replace(ch,"engineer")
       return new_st
replaceWord("himansu is a developer","developer")

'himansu is a engineer'

11. Count the occurrences of a word in a string

In [ ]:
def occurrenceString(st,ch):
  count=0
  word=st.split()
  for char in word:
    if ch==char:
      count=count+1
  return count
occurrenceString("himansu is a developer and himansu is an engineer","himansu")

2

12. Find the first occurrence of a word in a string.

In [ ]:

def firstOcc(st,ch):
  index=st.find(ch)
  if index==-1:
    return None
  return index
st="himansu is a developer and himansu is an engineer"
ch="is"
firstOcc(st,ch)

8

13. Find the last occurrence of a word in a string

In [ ]:
def lastOcc2(st,ch):
  index=st.rfind(ch)
  if index==-1:
    return None
  return index
st="himansu is a developer and himansu is an engineer"
ch="is"
lastOcc2(st,ch)

35

14. Split a string into a list of words.

In [ ]:
st="himansu is a developer"
word=st.split()
word

['himansu', 'is', 'a', 'developer']



15. Join a list of words into a string.

In [ ]:
def join_string(word):
  joined_word="".join(word)
  return joined_word
word="This is an example"
text=join_string(word)
print("joined string",text)

joined string This is an example

16. Convert a string where words are separated by spaces to one where words
are separated by underscores

In [ ]:
def String_space_to_UnderScores(st):
  word=st.replace(" ","_")
  return word
st="himansu is a developer"
print(String_space_to_UnderScores(st))

himansu_is_a_developer

17. Check if a string starts with a specific word or phrase.

In [ ]:
def start_specific_word(st,ch):
  lst=st.split()
  if lst[0]==ch:
    return True
st="himansu is a developer"
ch="himansu"
start_specific_word(st,ch)

18. Check if a string ends with a specific word or phrase.

In [ ]:
def ends_specific_word(st,ch):
  is_end=st.endswith(ch)
  return is_end
st="himansu is a developer"
ch="developer"
ends_specific_word(st,ch)

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
st="hello world"
s=st.title()
s

'Hello World'

20. Find the longest word in a string.

In [ ]:
def longest_string(st):
  lst=st.split()
  max_length=0
  longest_word=""
  for char in lst:
    if len(char)>max_length:
      max_length=len(char)
      longest_word=char
  return longest_word
st="himansu is a developer"
longest_string(st)

'developer'

Find the shortest word in a string

In [ ]:
def shortest_string(st):
  lst=st.split()
  min_length=len(lst[0])
  shortest_word=""
  for char in lst:
    if len(char)<min_length:
      min_length=len(char)
      shortest_word=char
  return shortest_word
st="himansu is a developer"
shortest_string(st)

'a'

22. Reverse the order of words in a string.

In [ ]:
def reverse_Order_string(st):
  word=""
  for char in st:
    word=char+word


  return word
st="himansu is a developer"
reverse_Order_string(st)

'repoleved a si usnamih'

23. Check if a string is alphanumeric.

In [ ]:
def is_alpha_numeric(st):
  if st.isalnum():
    return True
st="himansu123"
is_alpha_numeric(st)

True

24. Extract all digits from a string.

In [ ]:
def extract_digit(st):
  digit=""
  for char in st:
    if char.isdigit():
      digit=char+digit
  return digit
st="himansu123"
extract_digit(st)

'321'

25. Extract all alphabets from a string.

In [ ]:
def extract_digit(st):
  digit=""
  for char in st:
    if char.isalpha():
      digit=digit+char
  return digit
st="himansu123"
extract_digit(st)

'himansu'

26. Count the number of uppercase letters in a string.

In [ ]:
def to_check_uppercase(st):
  upper_case=sum(1 for char in st if char.isupper())
  return upper_case
st="HimANsu"
to_check_uppercase(st)

3

27. Count the number of lowercase letters in a string.

In [ ]:
def to_check_uppercase(st):
  upper_case=sum(1 for char in st if char.islower())
  return upper_case
st="HimANsu"
to_check_uppercase(st)

4

28. Swap the case of each character in a string

In [ ]:
def Swap_case(st):
  swapcase=st.swapcase()
  return swapcase
st="HImaNsu"
Swap_case(st)

'hiMAnSU'

29. Remove a specific word from a string.

In [ ]:
def remove_specific_word(st,ch):
  result=""
  for char in st:
    if char==ch:
      continue
    result=result+char
  return result
remove_specific_word("himansu","m")

'hiansu'


30. Check if a string is a valid email address

In [ ]:
def check_email_address(email):
  if email.count("@")==1:
    if "." in email:
      return True
email="himansu@gmail.com"
check_email_address(email)

True

31. Extract the username from an email address string.

In [ ]:
def extract_username(email):
  username=email.split("@")[0]
  return username
email="himansu@gmail.com"
extract_username(email)

'himansu'

32. Extract the domain name from an email address string.

In [ ]:
def extract_domain_name(email):
  domain_name=email.split(".")[1]
  return domain_name
email="himansu@gmail.com"
extract_domain_name(email)

'com'

33. Replace multiple spaces in a string with a single space

In [ ]:
def multiple_space(st):
  s=" ".join(st.split())
  return s
st="himansu    is   a  developer"
multiple_space(st)

'himansu is a developer'

34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse
def is_valid(url):
  try:
    result=urlparse(url)
    return all([result.scheme,result.netloc])
  except ValueError:
    return False
is_valid("https://www.example.com")

True

35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
  protocol=url.split(":")[0]
  return protocol
extract_protocol("https://www.example.com")

'https'

36. Find the frequency of each character in a string.

In [ ]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

37. Remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going


38. Check if a string contains only digits

In [ ]:
def string_digit(st):
  return st.isdigit()
st="12himansu"
string_digit(st)

False

39. Check if a string contains only alphabets.

In [ ]:
def string_alphabet(st):
  return st.isalpha()
st="himansu12"
string_alphabet(st)

False

40. Convert a string to a list of characters.

In [ ]:
def string_list(st):
  return list(st)
st="himansu"
string_list(st)

['h', 'i', 'm', 'a', 'n', 's', 'u']

41. Check if two strings are anagrams.

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

42. Encode a string using a Caesar cipher.

In [ ]:
def caesar_cipher(st,shift):
  encoded_text=""
  for char in st:
    if char.isalpha():
       encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char=char
    encoded_text+=encoded_char
  return encoded_text
st="himansu123"
shift=3
caesar_cipher(st,shift)

'klpdqvx123'

43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher(st,shift):
  decoded_text=""
  for char in st:
    if char.isalpha():
       decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
    else:
      decoded_char=char
    decoded_text+=decoded_char
  return decoded_text
st="klpdqvx123"
shift=3
caesar_cipher(st,shift)

'himansu123'


44. Find the most frequent word in a string.

In [ ]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

45. Find all unique words in a string.

In [ ]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'the', 'there', 'world', 'hello', 'hows'}

46. Count the number of syllables in a string.

In [ ]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

47. Check if a string contains any special characters.

In [ ]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

50. Convert a CSV string to a list of lists

In [ ]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

**LIST**

In [ ]:
lst=[]
for i in range(1,11):
  lst.append(i)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
lst=[1,2,3,4,5]
count=0
for i in lst:
  count=count+1
count

5

3. Append an element to the end of a list.

In [ ]:
lst.append(8)
lst

[1, 2, 3, 4, 5, 8, 8]

4. Insert an element at a specific index in a list.

In [ ]:
lst.insert(2,10)

In [ ]:
lst

[1, 2, 10, 3, 4, 5, 8, 8]

5. Remove an element from a list by its value

In [ ]:
lst.remove(8)

In [ ]:
lst

[1, 2, 10, 3, 4, 5, 8]

6. Remove an element from a list by its index

In [ ]:
lst.pop(2)

10

In [ ]:
lst

[1, 2, 3, 4, 5, 8]

7. Check if an element exists in a list.

In [ ]:
if 3 in lst:
  print("exist")
else:
  print(" not exist")

exist

8. Find the index of the first occurrence of an element in a list.

In [ ]:
def firstOcc(lst,element):
  for i in lst:
    if i==element:
      return lst.index(i)
lst=["h","i","m"]
element="i"
firstOcc(lst,element)

1

9. Count the occurrences of an element in a list.

In [ ]:
def count_occ(lst,element):
  count=0
  for i in lst:
    if i==element:
      count=count+1
  return count
lst=[1,2,1,2,3,1,2,31,1,23]
element=1
count_occ(lst,element)

4

10. Reverse the order of elements in a list.

In [ ]:
lst.reverse()
lst

[6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [ ]:
lst.sort()
lst

[1, 2, 3, 4, 5, 6]

12. Sort a list in descending order.

In [ ]:
lst.sort(reverse=True)

In [ ]:
lst

[6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [ ]:
lst=[]
for i in range(1,21):
  if i%2==0:
    lst.append(i)
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
lst=[]
for i in range(1,21):
  if i%2!=0:
    lst.append(i)
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
lst=[1,2,3,4,5,6,7]
sum(lst)

28

16. Find the maximum value in a list.

In [ ]:
s=max(lst)
s

7

17. Find the minimum value in a list

In [ ]:
s=min(lst)
s

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
square=[x**2 for x in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:

import random
random_integer=[random.randint(1,100) for i in range(10)]
random_integer

[55, 34, 83, 96, 1, 4, 32, 81, 81, 37]

20. Remove duplicates from a list.

In [ ]:
lst=[1,2,1,2,12,3,43,41,1,2]
lst=set(lst)
lst=list(lst)
lst

[1, 2, 3, 41, 43, 12]

21. Find the common elements between two lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = set(list1).intersection(list2)

print("Common elements:", list(common_elements))

Common elements: [3, 4, 5]

22. Find the difference between two lists.

In [ ]:
difference_element=list(set(list1).difference(list2))
difference_element

[1, 2]

23. Merge two lists.

In [ ]:
merge=list1+list2
merge

[1, 2, 3, 4, 5, [3, 4, 5, 6, 7], 3, 4, 5, 6, 7]

24. Multiply all elements in a list by 2.

In [ ]:
list1=[1,2,2,3,31,1]
lst=[x*2 for x in list1]
lst

[2, 4, 4, 6, 62, 2]

25. Filter out all even numbers from a list.

In [ ]:
lst=[1,2,3,4,5,6,78,9]
lst1=[]
for i in lst:
  if i%2==0:
    lst1.append(i)
lst1

[2, 4, 6, 78]

26. Convert a list of strings to a list of integers.

In [ ]:
lst=["1","2","3","4"]
lst_int=[int(x) for x in lst]
lst_int

[1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [ ]:
lst=[1,2,3,4,5]
lst_string=[str(x) for x in lst]
lst_string

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [ ]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    for _ in range(2, n):
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_fibonacci)
    return fibonacci_numbers

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
lst=[3,4,1,2,6,2,8]
lst.sort()
lst

[1, 2, 2, 3, 4, 6, 8]

31. Rotate a list to the left by `n` positions.

In [ ]:
def rotate_left(lst,n):
  n=n % len(lst)
  rotated=lst[2:]+lst[:2]
  return rotated
n=2
lst=[1,2,3,4,5,6]
rotate_left(lst,n)

[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [ ]:
def rotate_right(lst,n):
  n=n%len(lst)
  rotated=lst[-n:]+lst[:-n]
  return rotated
n=2
lst=[1,2,3,4,5,6]
rotate_right(lst,n)

[5, 6, 1, 2, 3, 4]


33. Create a list of prime numbers up to 50

In [ ]:
def is_prime(num):
  if num<=1:
    return False
  if num<=3:
    return True
  if num%2==0 or num%3==0:
    return False
  i=5
  while i*i<=num:
    if num%i==0 or num %(i+2)==0:
      return False
    i+=6
  return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [ ]:
def split_list(lst,n):
  return [lst[i:i+n] for i in range(0,len(lst),n)]
lst=[1,2,3,4,5,6,7,8,2,3,43,54]
n=2
split_list(lst,n)

[[1, 2], [3, 4], [5, 6], [7, 8], [2, 3], [43, 54]]

35. Find the second largest number in a list.

In [ ]:
lst=[2,3,4,5,2,3,334,54,5]
sorted_list=sorted(set(lst))
if len(sorted_list)>=2:
  second_sorted=sorted_list[-2]
second_sorted

54

36. Replace every element in a list with its square.

In [ ]:
lst=[1,2,3,4,5,6]
rs=[x**2 for x in lst]
rs

[1, 4, 9, 16, 25, 36]


37. Convert a list to a dictionary where list elements become keys and their
indices become values

In [ ]:
lst=[1,2,3,4,5,6]
my_dict={index:element for index,element in enumerate(lst)}
my_dict

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}


38. Shuffle the elements of a list randomly

In [ ]:
import random
random.shuffle(lst)
lst

[5, 2, 3, 6, 1, 4]


39. Create a list of the first 10 factorial numbers

In [ ]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [ ]:
def commonE(lst1,lst2):
  for i in lst1:
    if i in lst2:
      return True
  return False
lst1=[1,2,3,4,5]
lst2=[7,8,9]
commonE(lst1,lst2)

False

41. Remove all elements from a list

In [ ]:
lst.clear()
lst

[]

42. Replace negative numbers in a list with 0.

In [ ]:
lst=[1,2,-2,-5,6.-7]
for i in range(len(lst)):
  if lst[i]<0:
    lst[i]=0
lst

[1, 2, 0, 0, 0]

43. Convert a string into a list of words.

In [ ]:
st="himansu is a developer"
s=st.split()
s

['himansu', 'is', 'a', 'developer']

44. Convert a list of words into a string.

In [ ]:
lst=['hiamnsu',"is","a","developer"]

s=" ".join(lst)

In [ ]:
s

'hiamnsu is a developer'

45. Create a list of the first `n` powers of 2.

In [ ]:
def list_n(n):
  for i in range(len(lst)):
      lst[i]=lst[i]**2
  return lst
n=5
list_n(n)

[1, 4, 9, 16, 25, 36, 49, 64, 81]


46. Find the longest string in a list of strings

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

47. Find the shortest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

In [ ]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [ ]:
def is_subsequence(subsequence,main_list):
  subsq_index=0
  for element in main_list:
    if i==subsequence[subsq_index]:
      subsq_index += 1
      if len(subsequence)==subsq_index:
        return True
  return False
main_list=[1,2,3,4,5,6,7,8,9,10]
subsequence=[1,2,3]
is_subsequence(main_list,subsequence)

False

50. Swap two elements in a list by their indices

In [ ]:
lst=[1,2,3,4,5]
index1=1
index=3
lst[index1],lst[index]=lst[index],lst[index1]
lst

[1, 4, 3, 2, 5]

**Tuple**


1. Create a tuple with integers from 1 to 5

In [3]:
tp=(1,2,3,4,5)
tp

(1, 2, 3, 4, 5)


2. Access the third element of a tuple

In [4]:
tp[2]

3

3. Find the length of a tuple without using the `len()` function.

In [5]:
count=0
for i in tp:
  count=count+1
count

5

4. Count the occurrences of an element in a tuple.

In [9]:
def first_OCC(tp,c):
  count=0
  for i in tp:
    if i==c:
      count=count+1
  return count
c=3
first_OCC(tp,c)

1

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
def index_first_occ(tp,c):
  for i in tp:
    if i==c:
      return tp.index(i)
c=3
index_first_occ(tp,c)

2

6. Check if an element exists in a tuple.

In [12]:
def element_exist_tuple(tp,c):
  for i in tp:
    if i==c:
      return True
c=3
element_exist_tuple(tp,c)

True


7. Convert a tuple to a list

In [13]:
list(tp)

[1, 2, 3, 4, 5]


8. Convert a list to a tuple

In [14]:
tuple(tp)

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [17]:
tp1=(1,2,3)
var1,var2,var3=tp1
print(var1)
print(var2)
print(var3)

1
2
3

10. Create a tuple of even numbers from 1 to 10.

In [20]:
even_number=[num for num in range(2,10,2)]
even_tuple=tuple(even_number)
even_tuple

(2, 4, 6, 8)

11. Create a tuple of odd numbers from 1 to 10.

In [22]:
odd_number=[num for num in range(1,11,2)]
odd_tuple=tuple(odd_number)
odd_tuple

(1, 3, 5, 7, 9)


12. Concatenate two tuples

In [26]:
t1=(1,2,3,4)
t2=(5,6,7)
s=t1+t2
s

(1, 2, 3, 4, 5, 6, 7)


13. Repeat a tuple three times.

In [27]:
three_times=t1*3
three_times

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [28]:
# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.


15. Create a nested tuple

In [29]:
nested_tuple=((1,2,3),(4,5,6),(True,False))
nested_tuple

((1, 2, 3), (4, 5, 6), (True, False))

16. Access the first element of a nested tuple.

In [30]:
nested_tuple[0]

(1, 2, 3)

17. Create a tuple with a single element.

In [33]:
single_element=(1,)
single_element

(1,)


18. Compare two tuples

In [35]:
compare=t1==t2
compare

False

19. Delete a tuple.

In [40]:
del t1

20. Slice a tuple

In [41]:
t2[2:4]

(7,)

21. Find the maximum value in a tuple.

In [43]:
s=max(t2)
s

7


22. Find the minimum value in a tuple

In [44]:
s=min(t2)
s

5

23. Convert a string to a tuple of characters.

In [45]:
s="himansu"
tuple(s)

('h', 'i', 'm', 'a', 'n', 's', 'u')


24. Convert a tuple of characters to a string.

In [47]:
str(s)

'himansu'

25. Create a tuple from multiple data types.

In [48]:
mixed_tuple=(1,3.14,"hllo",True)
mixed_tuple

(1, 3.14, 'hllo', True)


26. Check if two tuples are identical

In [49]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False


27. Sort the elements of a tuple.

In [52]:
t3=(3.42,1,2,6)
sorted(t3)

[1, 2, 3.42, 6]


28. Convert a tuple of integers to a tuple of strings

In [64]:
t4=(1,2,3,4)
s=[tuple(str(i) for i in t4)]
s

[('1', '2', '3', '4')]


29. Convert a tuple of strings to a tuple of integers

In [65]:
t5=("1","3","4","5")
s=[tuple(int(i) for i in t5)]
s

[(1, 3, 4, 5)]


30. Merge two tuples.

In [66]:
tup1=(1,2,3,4)
tup2=(6,7,8)
s=tup1+tup2
s

(1, 2, 3, 4, 6, 7, 8)


31. Flatten a nested tuple.

In [67]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)


32. Create a tuple of the first 5 prime numbers

In [68]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)


33. Check if a tuple is a palindrome.

In [69]:
def is_palindrome(tup1):
  return tup1==tup1[::-1]
tup1=(1,2,1)
is_palindrome(tup1
              )

True


34. Create a tuple of squares of numbers from 1 to 5

In [73]:
square=[]
for i in range(1,6):
  s=i**2
  square.append(s)
tuple(square)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [78]:
tup2=(2,3,4,5,6)
s=tuple(num for num in tup2 if num%2==0)
s

(2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [79]:
s=tuple(num*2 for num in tup2)
s

(4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

In [82]:
import random
s=tuple(random.randint(1,100) for i in range(1,10))
s

(70, 14, 90, 75, 35, 45, 94, 61, 40)

38. Check if a tuple is sorted.

In [83]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False


39. Rotate a tuple to the left by `n` positions

In [84]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)


40. Rotate a tuple to the right by `n` positions

In [85]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [90]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)


42. Create a tuple from user input

In [93]:
tup=input("enter the element")
s=tup.split(",")
tuple(s)

enter the elementhimansu

('himansu',)


43. Swap two elements in a tuple

In [94]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [96]:
def n_power(n):
  s=tuple(num**2 for num in range(n+1))
  return s
n=5
n_power(n)

(0, 1, 4, 9, 16, 25)

46. Find the longest string in a tuple of strings.

In [97]:
string_tuple=("hello","hi","hhh")
longest_strings=max(string_tuple,key=len)
longest_strings

'hello'

47. Find the shortest string in a tuple of strings.

In [100]:
string_tuple=("hello","hi","hhh")
shortest_strings=min(string_tuple,key=len)
shortest_strings

'hi'


48. Create a tuple of the first `n` triangular numbers

In [101]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [102]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`

In [103]:
n=5
s=tuple(n%2 for n in range(n))
s

(0, 1, 0, 1, 0)

**SET**

1. Create a set with integers from 1 to 5.

In [105]:
S={1,2,3,4,5}
S

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [108]:
S.add(10)
S

{1, 2, 3, 4, 5, 10}

3. Remove an element from a set.

In [115]:
S.remove(4)
S

{1, 2, 3}


4. Check if an element exists in a set

In [116]:
def set_element(s,ch):
  lst=list(s)
  for i in s:
    if lst[i]==ch:
      return True
s={1,2,3,4}
ch=4
set_element(s,ch)

True

5. Find the length of a set without using the `len()` function.

In [117]:
def set_length(s):
  lst=list(s)
  count=0
  for i in s:
    count=count+1
  return count
s={1,2,3,4}
set_length(s)

4

6. Clear all elements from a set.

In [118]:
s={1,2,3,4}
s.clear()

In [119]:
s

set()


7. Create a set of even numbers from 1 to 10.

In [121]:
def set_even(s):
  lst=list(s)
  for i in range(1,11):
    if i%2==0:
      lst.append(i)
  return set(lst)
s=()
set_even(s)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [122]:
def set_odd(s):
  lst=list(s)
  for i in range(1,11):
    if i%2!=0:
      lst.append(i)
  return set(lst)
s=()
set_odd(s)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [123]:
set1={1,2,3,4}
set2={4,3,2,65,7}
union_res=set1.union(set2)
union_res

{1, 2, 3, 4, 7, 65}

10. Find the intersection of two sets.

In [124]:
intersection=set1.intersection(set2)
intersection

{2, 3, 4}


11. Find the difference between two sets.

In [125]:
difference=set1.difference(set2)
difference

{1}


12. Check if a set is a subset of another set.

In [127]:
is_subset=set1.issubset(set2)
is_subset

False


13. Check if a set is a superset of another set

In [128]:
is_superset=set1.issuperset(set2)
is_superset

False


14. Create a set from a list

In [129]:
lst=[1,2,3,4]
set(lst)

{1, 2, 3, 4}


15. Convert a set to a list

In [130]:
list(lst)

[1, 2, 3, 4]

16. Remove a random element from a set.

In [132]:
import random
set3={1,2,3,4,5}
random_el=random.choice(list(set3))
set3.remove(random_el)
set3

{1, 3, 4, 5}

17. Pop an element from a set.

In [133]:
set3.pop()

1


18. Check if two sets have no elements in common.

In [138]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.


19. Find the symmetric difference between two sets.

In [139]:
symmetric_diff=set1^set2
symmetric_diff

{1, 2, 3, 4, 5, 6, 7, 8}


20. Update a set with elements from another set.

In [140]:
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers

In [141]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [142]:
if set1==set2:
  print("two sets are identical")

23. Create a frozen set.

In [147]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [148]:
disjoint_set=set1.isdisjoint(set2)
disjoint_set

False

25. Create a set of squares of numbers from 1 to 5

In [149]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [150]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}


27. Multiply all elements in a set by 2.

In [151]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [152]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {66, 100, 83, 23, 94}

29. Check if a set is empty.

In [153]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [154]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [156]:
set1.discard(4)
set1

{1, 2, 5}

32. Compare two sets.

In [157]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string

In [158]:
s="himansu"
set(s)

{'a', 'h', 'i', 'm', 'n', 's', 'u'}

34. Convert a set of strings to a set of integers.

In [159]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}


35. Convert a set of integers to a set of strings

In [160]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '2', '5', '1', '3'}


36. Create a set from a tuple

In [161]:
tuple(set1
      )

(1, 2, 3, 4, 5)

In [162]:
set(set1)

{1, 2, 3, 4, 5}


38. Find the maximum value in a set.

In [164]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [165]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4


40. Create a set from user input

In [169]:
s=set()
set5=input("enter the value")
s.add(set5)
s

enter the valuehimansu

{'himansu'}

41. Check if the intersection of two sets is empty.

In [170]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [171]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}


43. Remove duplicates from a list using sets.

In [172]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [173]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [174]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}


46. Find the common elements between a set and a list

In [175]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]


47. Create a set of the first `n` triangular numbers

In [176]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 10
The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [177]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [178]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

50. Merge multiple sets into one.

In [179]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}