Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
lst=[1,2,3,4,5,6]
result=0
for i in lst:
  result=result+i
result

21

3. Write a program to print the characters of a string in reverse order using a `for` loop

In [ ]:
s="himansu"
g=""
for i in s:
  g=i+g
g

'usnamih'

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
def facto(n):
  if n<=1:
    return 1
  f=1
  for i in range(1,n+1):
    f=i*f
  return f
facto(5)

120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
def multi_table(n):
  for i in range(1,11):
    print(i*n)
multi_table(2)

2
4
6
8
10
12
14
16
18
20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
def even_and_odd(lst):
  even=0
  odd=0
  for i in lst:
    if i%2==0:
      even=even+1
    else:
      odd=odd+1
  return even,odd
even_and_odd([1,2,3,4,5,65,6,7,8])

(4, 5)

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function

In [ ]:
def length_of_string(st):
  length=0
  for i in st:
    length=length+1
  return length
length_of_string("himansu")

7

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
def average_list(lst):
  result=0
  average=None
  for i in lst:
    result=result+i
  average=result//len(lst)
  return average
average_list([1,2,3])

2

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
def fibo(n):
  lst=[0,1]
  for i in range(2,n):
    num=lst[-1]+lst[-2]
    lst.append(num)
  return lst
fibo(5)

[0, 1, 1, 2, 3]

Intermediate Level:


11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
def check_duplicate(lst):
  seen=set()
  for i in (lst):
    if i in seen:
      return True
    seen.add(i)
  return False
lst=[1,2,3,2,3,4,5]
result=check_duplicate(lst)
if result:
  print("contain duplicate")
else:
  print("not contain any ")

contain duplicate


12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
def prime_number(start,end):
  for i in range(start,end+1):
    flag=0
    for j in range(2,i):
      if i%j==0:
        flag=1
        break
    if(flag==0):
      print(i,end=" ")
prime_number(1,10)

1 2 3 5 7

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
vowels="aeiou"
count=0
s="himansu"
for i in s:
  if i in vowels:
    count=count+1
count

3

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
def max_element(matrix):
  max_e=float("-inf")
  for row in matrix:
    for element in row:
      if element>max_e:
        max_e=element
  return max_e
matrix=[[1,2,3],
       [54,4,3],
       [87,4,31]
]
max_element(matrix)

87

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
def remove_occ(lst,target):
  new_lst=[item for item in lst if item!=target]
  return new_lst
remove_occ([1,2,2,3,4,3,2,6],2)

[1, 3, 4, 3, 6]



17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop

In [ ]:
def f_to_c(ftemp):
  celsius=[]
  for f in ftemp:
    c=(f-32)*5/9
    celsius.append(c)
  return celsius
ftemp=[38,69,104]
f_to_c(ftemp)

[3.3333333333333335, 20.555555555555557, 40.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
s=[1,2,3,4]
w=[2,3,4,5,6]
for i in s:
  if i in w:
    print(i)

2
3
4


19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
for i in range(1,5):
  for j in range(i):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
def gcd(a,b):
  smallest=min(a,b)

  for i in range(smallest,0,-1):
    if a%i==0 and b%i==0:
      return i
  return 1
a=46
b=38
gcd(a,b)

2


21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
lst=[1,2,3,4,5]
sumlist=sum([element for element in lst])
sumlist

15

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
def prime_factors(n):
    factors = [i for i in range(2, n + 1) if n % i == 0 and all(i % j != 0 for j in range(2, int(i**0.5) + 1))]
    return factors

# Input a number
num = int(input("Enter a number: "))

# Find and print the prime factors
result = prime_factors(num)
print(f"Prime factors of {num}: {result}")

Enter a number: 45
Prime factors of 45: [3, 5]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
lst=[1,2,3,4,5]
unique_list=[]
unique_element=[3,4,5]
s=[unique_list.append(element) for element in lst if element in unique_element]
unique_list

[3, 4, 5]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension

In [ ]:
def is_palindrome_c(number):
  return str(number)==str(number)[::-1]
def generate_palindrome(limit):
  lst=[num for num in range(limit+1) if is_palindrome_c(num)]
  return lst
limit=int(input("enter the limit"))
generate_palindrome(limit)

enter the limit20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [ ]:
def flatten_nested_list(nested_list):
    # Use nested list comprehension to flatten the nested list
    flattened_list = [element for sublist in nested_list for element in (flatten_nested_list(sublist) if isinstance(sublist, list) else [sublist])]
    return flattened_list

# Example nested list
nested_list = [1, [2, 3, [4, 5]], 6, [7, [8, 9]]]

# Flatten the nested list and print the result
flattened_result = flatten_nested_list(nested_list)
print("Original nested list:", nested_list)
print("Flattened list:", flattened_result)

Original nested list: [1, [2, 3, [4, 5]], 6, [7, [8, 9]]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
def sum_even_odd(numbers):
    # Use list comprehension to separate even and odd numbers, then calculate their sums
    even_sum = sum([num for num in numbers if num % 2 == 0])
    odd_sum = sum([num for num in numbers if num % 2 != 0])
    return even_sum, odd_sum

# Example list of numbers
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Calculate and print the sum of even and odd numbers
even_sum, odd_sum = sum_even_odd(numbers_list)
print("List of numbers:", numbers_list)
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of even numbers: 30
Sum of odd numbers: 25


27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list

In [ ]:
square=sum([element**2 for element in range(1,11)])
square

385

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
def dictionary_c(keys,values):
  lst={k:v for k,v in zip(keys,values)}
  return lst
keys=["names","number","surname"]
values=["himansu","41","sahoo"]
dictionary_c(keys,values)

{'names': 'himansu', 'number': '41', 'surname': 'sahoo'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
def extract_vowels(s):
  vowels="aeiou"

  lst=[element for element in s if element in "aeiou"]
  return lst

s="himansu"
extract_vowels(s)

['i', 'a', 'u']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
def remove_character(s):
  lst=["".join(char for char in string if char.isnumeric()) for string in s]
  return lst
lst=["12as","34ergft"]
remove_character(lst)

['12', '34']


31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension

In [ ]:
def prime_number(n):
  prime=[0 for i in range(101)]
  for i in range(2,n+1):
    if prime[i]==0:
      for j in range(i*i,n+1,i):
        prime[j]= 1
  primes=[i for i in range(2,n+1) if prime[i]==0]
  return primes
n=50
prime_number(n)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [ ]:
def pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1)
                            for b in range(a, limit + 1)
                            for c in range(b, limit + 1)
                            if a**2 + b**2 == c**2]
    return triplets

# Input the limit
limit = int(input("Enter the limit for Pythagorean triplets: "))

# Generate and print the list of Pythagorean triplets
result = pythagorean_triplets(limit)
print(f"Pythagorean triplets up to {limit}: {result}")

Enter the limit for Pythagorean triplets: 5
Pythagorean triplets up to 5: [(3, 4, 5)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
def combination(list1,list2):
  combo=[(x,y) for x in list1 for y in list2]
  return combo
list1=[1,2,3,4]
list2=["h","i","m","a"]
combination(list1,list2)

[(1, 'h'),
 (1, 'i'),
 (1, 'm'),
 (1, 'a'),
 (2, 'h'),
 (2, 'i'),
 (2, 'm'),
 (2, 'a'),
 (3, 'h'),
 (3, 'i'),
 (3, 'm'),
 (3, 'a'),
 (4, 'h'),
 (4, 'i'),
 (4, 'm'),
 (4, 'a')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [ ]:
from collections import Counter

def calculate_mean(numbers):
    return sum(numbers) / len(numbers)

def calculate_median(numbers):
    sorted_numbers = sorted(numbers)
    n = len(sorted_numbers)
    if n % 2 == 0:
        middle1 = sorted_numbers[n // 2 - 1]
        middle2 = sorted_numbers[n // 2]
        return (middle1 + middle2) / 2
    else:
        return sorted_numbers[n // 2]

def calculate_mode(numbers):
    count_dict = Counter(numbers)
    max_count = max(count_dict.values())
    mode = [key for key, value in count_dict.items() if value == max_count]
    return mode

# Example usage:
numbers = [1, 2, 2, 3, 4, 5, 5, 6, 6, 6]
mean = calculate_mean(numbers)
median = calculate_median(numbers)
mode = calculate_mode(numbers)

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")

Mean: 4.0
Median: 4.5
Mode: [6]

In [ ]:
class Solution:
    def generate(self, numRows: int) -> List[List[int]]:
        result=[]
        for i in range(numRows):
            row=[None for _ in range(i+1)]
            row[0],row[-1]=1,1
            for j in range(1,len(row)-1):
                row[j]=result[i-1][j-1]+result[i-1][j]
            result.append(row)
        return result

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [ ]:
import math

def factorial(n):
    return math.factorial(n)

def digit_sum(number):
    return sum(int(digit) for digit in str(number))

# Calculate factorials and sum of digits using list comprehension
factorials = [factorial(i) for i in range(1, 6)]
digit_sums = [digit_sum(factorial) for factorial in factorials]

# Display results
for i in range(1, 6):
    print(f"Factorial of {i}: {factorials[i-1]}, Sum of digits: {digit_sums[i-1]}")

Factorial of 1: 1, Sum of digits: 1
Factorial of 2: 2, Sum of digits: 2
Factorial of 3: 6, Sum of digits: 6
Factorial of 4: 24, Sum of digits: 6
Factorial of 5: 120, Sum of digits: 3

37. Write a program that finds the longest word in a sentence using list comprehension.

In [2]:
def longest_word(word):
  s=[words.strip(".,?!") for words in word.split()]
  result=max(s,key=len)
  return result
word="himansu is a developer"
longest_word(word)

'developer'


38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [20]:
def vowels_count(word):
  return sum(1 for i in word if i.lower() in "aeiou")
def generate_vowels(word_list):
  filter_list=[item for item in word_list if vowels_count(item)>3]
  return filter_list
word_list=["himansui","sekhar","sahoo","datascience"]
generate_vowels(word_list)

['himansui', 'datascience']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension

In [21]:
# Function to calculate the sum of digits in a number
def digit_sum(number):
    return sum(int(digit) for digit in str(number))

# Using list comprehension to calculate the sum of digits for numbers from 1 to 1000
sum_of_digits = sum(digit_sum(number) for number in range(1, 1001))

print("Sum of the digits of numbers from 1 to 1000:", sum_of_digits)

Sum of the digits of numbers from 1 to 1000: 13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [22]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def is_palindrome(num):
    return str(num) == str(num)[::-1]

# Using list comprehension to generate a list of prime palindromic numbers
prime_palindromes = [num for num in range(1, 1000) if is_prime(num) and is_palindrome(num)]

print("List of prime palindromic numbers up to 1000:", prime_palindromes)

List of prime palindromic numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]